<% if graph[:edges].any? %>
  <div class="relationship-legend">
    <span class="relationship-chip relationship-chip--similar">青: 似たもの同士</span>
    <span class="relationship-chip relationship-chip--diverse">黄: 異質な組み合わせ</span>
  </div>

  <div
    class="relationship-canvas"
    data-controller="relationship-graph"
    data-relationship-graph-graph-value="<%= json_escape(graph.to_json) %>">
  </div>

  <ul class="stack-list relationship-summary-list">
    <% graph[:edges].each do |edge| %>
      <li class="relationship-summary relationship-summary--<%= edge[:tone] %>">
        <strong><%= edge[:sourceLabel] %> × <%= edge[:targetLabel] %></strong>
        <span class="meta"><%= relationship_tone_label(edge[:tone]) %></span>
        <div class="meta"><%= edge[:reason] %></div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="empty-note"><%= empty_message %></p>
<% end %>
